<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Results</h2>
        <ul>
            {{#each searchedGamesData}}
            <button type="submit" data-summary="{{summary}}" data-id="{{iddata-name="{{name}}" }}" class="btn btn-default">Add!</button>
            {{/each}}
        </ul>
    </div>
</div>

<script type="text/javascript" src="js/gameSearch.js"></script>